.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
}

.main {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
